extends layouts/presentation

block append head
	title Vue Intro Workshop

block content
	section
		img.no-border(style="border-radius: 50%", src='https://s.gravatar.com/avatar/3d79f7b9ebc106aff59ece0a2d70325c?s=480')
	section
		img.no-border(style="max-height: 30vh", src='/img/vue-logo.svg')
		h2 Vue - Single Page Application Development
	section
		h1 SPA
		h2 Single Page Application
	section
		h3 "Traditional" Server Based Pages
		svg.diagram.traditional(viewBox="0 0 10 10")
			defs
				marker#arrow-end(viewBox="0 0 10 10", refX="1", refY="5", markerUnits="strokeWidth", markerWidth="3", markerHeight="3", orient="auto")
					path(d="M 0 0 L 10 5 L 0 10 z")
			g(transform="translate(7,.1)").server
				rect(height="6", width="2")
				text(x=".2", y=".8") Server
			g(transform="translate(.1,.1)").browser
				rect(height="6", width="4")
				text(x=".2", y=".8") Browser
			g.fragment(transform="translate(4,.8)").arrow
				path(d="M .2 0 L 2.75 0")
				text(x=".3", y="-.15") GET /index.html
			g.fragment(transform="translate(4,1.25)").arrow
				path.dotted(d="M 2.85 0 L .35 0")
				text(x="2.2", y=".35") HTML
			g.fragment(transform="translate(.1,1.26)").page
				path(d="M 0 0 L 4 0")
				text(x=".2", y=".6") page /index.html
				text.action.fragment(x="1.6", y="1") CLICK &nbsp;&lt; a href="/form.html" &gt;
			g.fragment(transform="translate(4,2.17)").arrow
				path(d="M .2 0 L 2.75 0")
				text(x=".3", y="-.15") GET /form.html
			g.fragment(transform="translate(4,2.7)").arrow
				path.dotted(d="M 2.85 0 L .35 0")
				text(x="2.2", y=".35") HTML
			g.fragment(transform="translate(.1,2.7)").page
				path.reload(d="M 0 0 L 4 0")
				text.reload(x="1.7", y=".1") RELOAD
				text(x=".2", y=".6") page /form.html
				text.action.fragment(x="3", y="1") submit form
			g.fragment(transform="translate(4, 3.63)").arrow
				path(d="M .2 0 L 2.75 0")
				text(x=".3", y="-.15") POST /success.html FORMDATA
			g.fragment(transform="translate(4,4.1)").arrow
				path.dotted(d="M 2.85 0 L .35 0")
				text(x="2.2", y=".35") HTML
			g.fragment(transform="translate(.1,4.1)").page
				path.reload(d="M 0 0 L 4 0")
				text.reload(x="1.7", y=".1") RELOAD
				text(x=".2", y=".6") page /success.html
		aside.notes
			ul
				li Server State, user session
	section
		h3 Single Page Application
		svg.diagram.spa(viewBox="0 0 10 10")
			defs
				marker#arrow-end(viewBox="0 0 10 10", refX="1", refY="5", markerUnits="strokeWidth", markerWidth="3", markerHeight="3", orient="auto")
					path(d="M 0 0 L 10 5 L 0 10 z")
			g(transform="translate(7,.1)").server
				rect(height="6", width="2")
				text(x=".2", y=".8") Server
			g(transform="translate(.1,.1)").browser
				rect(height="6", width="4")
				text(x=".2", y=".8") Browser
			g.fragment(transform="translate(4,.8)").arrow
				path(d="M .2 0 L 2.75 0")
				text(x=".3", y="-.15") GET /
			g.fragment(transform="translate(4,1.25)").arrow
				path.dotted(d="M 2.85 0 L .35 0")
				text(x="2.2", y=".35") HTML
			g.fragment(transform="translate(.1,1.26)").page
				path(d="M 0 0 L 4 0")
				text(x=".2", y=".6") view /
			g.fragment(transform="translate(4,1.9)").arrow
				path(d="M .2 0 L 2.75 0")
				text(x=".3", y="-.15") GET /api/user-data
			g.fragment(transform="translate(4,2.2)").arrow
				path.dotted(d="M 2.85 0 L .35 0")
				text(x="2.2", y=".35") JSON
			text.action.fragment(x="1.7", y="2.6") CLICK &nbsp;&lt; a href="/form" &gt;
			g.fragment(transform="translate(.1,2.9)").page
				path(d="M 0 0 L 4 0")
				text(x=".2", y=".6") view /form
				text.action.fragment(x="3", y="1") submit form
			g.fragment(transform="translate(4, 3.83)").arrow
				path(d="M .2 0 L 2.75 0")
				text(x=".3", y="-.15") ASYNC POST /api/action JSON
			g.fragment(transform="translate(4,4.1)").arrow
				path.dotted(d="M 2.85 0 L .35 0")
				text(x="2.2", y=".35") JSON
			g.fragment(transform="translate(.1,4.1)").page
				path.reload(d="M 0 0 L 4 0")
				text(x=".2", y=".6") view /success
		aside.notes
			ul
				li no hard reloads
	section
		img.no-border(style="max-height: 30vh", src='/img/vue-logo.svg')
		h1 Vue
		h4 vuejs.org
	section
		h1 Framework
	section
		h1 Paradigms
	section
		h1 Components
		img.no-border(style="max-height: 30vh", src='/img/components.png')
	section
		h1 Reactivity
		img.no-border(style="max-height: 30vh", src='/img/reactivity.png')
	section
		h1 Declarative
		pre
			code
				| <h1> {{ myVariable }} </h1>
		pre
			code
				| { myVariable: 'Declarative'}
	section
		h2 Reactive
		h2 Declarative 
		h1 Components
	section
		h1 HANDS ON DECK
	section
		h3 codesandbox.io/s/436ryjww49
		h3 cheatsheet
	section
		h1 build tool
		h2 webpack / vue-cli
	section
		h2 Preprocessors
		h4 sass, less, stylus
		h4 CoffeeScript, TypeScript
	section
		h2 single file components
		:markdown
			```html
			<template>
			</template>
			<script>
			export default {
			}
			</script>
			<style scoped>
			</style>
			```
	section
		h2 vue-cli project example
		h3 codesandbox.io/s/813o3j3ky0
	section
		h1 real applications
	section
		h2 talk with async apis
	section
		h2 handle url navigation
	section
		h2 global state
	section
		table.list
			tr
				td: h2 api
				td: h2.fragment ➔ vanilla fetch
			tr
				td: h2 navigation
				td: h2.fragment ➔ vue-router
			tr
				td: h2 state
				td: h2.fragment ➔ es6 modules or vuex
